.zotoScreen{
	@extend %leftfull;
	@include box-sizing(boxsizing);
	margin-top: 30px;
	
	@extend %pos-relative;
	
	.introScreen{
		@extend %left;
		@extend %center;
		padding-top: 38px;
		@include box-sizing(boxsizing);

		p.screenHeading{
			@extend %leftfull;
			@include box-sizing(boxsizing);
			margin-bottom: 18px;
			font-size: 0.9375rem;
			line-height: 1.625rem;
			color: rgba(0, 0, 0, 0.5);
			font-family: 'ralewayregular';
		}

		p.zotoScreenHeading{
			@extend %leftfull;
			@include box-sizing(boxsizing);
			padding-top: 88px;
			text-align: left;
			font-size: 0.9375rem;
			line-height: 1.75rem;
			color: rgba(0, 0, 0, 0.5);
			font-family: 'ralewayregular';
			font-weight: normal;
			text-transform: capitalize;

			.user{
			font-size: 1.125rem;
			color: $black;
    	}

		}

		.rightAlign{
			text-align: right!important;
			    padding-top: 182px!important;
		}

		img{
			max-width: 100%;
			width: 300px;
		}

		img.imgBorder{
			max-width: 100%;
			width: 300px;
			border: 1px solid #f7f7f7;
		}
	}
	

	h2.introScreenHeading{
		@extend %pos-absolute;
		bottom: 12px;
	    left: 388px;
	    text-transform: capitalize;
		font-size: 3.625rem;
	    line-height: 4.875rem;
		color: rgba(0, 0, 0, 0.5);
		font-weight: normal;
		font-family: 'brandongrotesque-thinbook';
	}
}


@media screen and (max-width: 640px){
	
	.zotoScreen{
		display: none;
	}
		
}