.zotoHomepagePay{
	@extend %leftfull;
	margin-top: 30px;

	.zotoHomepageScreen{
		@extend %left;
		padding-top: 38px;

		img{
			@extend %left;
			max-width: 100%;
			width: 300px;
		}
	}

	.zotoHomepageDescription{
		@extend %right;
		@include box-sizing(boxsizing);

		h2.introScreenHeading{
			@extend %leftfull;
		    text-transform: capitalize;
			font-size: 3.625rem;
	   		line-height: 4.875rem;
			color: rgba(0, 0, 0, 0.5);
			font-weight: normal;
			font-family: 'brandongrotesque-thinbook';	

		.user{
			@extend %leftfull;
			font-size: 0.9375rem;
			line-height: 1.375rem;
			color: rgba(0, 0, 0, 0.5);
			font-family: 'ralewayregular';
    	}								
		}

		p.name{
				@extend %leftfull;
				margin-top: 16px;
				font-size: 1.125rem;
				line-height: 1.75rem;
				color: $black;
				font-family: 'ralewayregular';
			}

		.zotoDescription{
			@extend %leftfull;
			@include box-sizing(boxsizing);
			padding-right: 62px;
			p.zotoText{
				@extend %left;
				margin-top: 12px;
				font-size: 0.9375rem;
				color: $black;
				line-height: 1.625rem;
				font-family: 'ralewayregular';
			}
		}

		hr.PaymentProcess{
			@extend %leftfull;
			border-top: 1px solid #ebebeb;
			margin-top: 32px;
		}

		ul.zotoHomepagePoint{
			@extend %leftfull;
			@include box-sizing(boxsizing);
			padding-left: 16px;
			margin-top: 12px;

			li{
				@extend %leftfull;
				padding-left: 14px;
				margin-top: 12px;
				font-size: 0.9375rem;
				color: $black;
				line-height: 1.75rem;
				font-family: 'ralewayregular';
			}
		}
	}
}


@media screen and (max-width: 640px){
	.zotoHomepagePay{

	.zotoHomepageScreen{
		text-align: center;

		img{
			float: none;
		}
	}

	.zotoHomepageDescription{

		h2.introScreenHeading{
			padding-top: 38px;
			font-size: 2.5rem;
    		line-height: 44px;
		.user{
    	}								
		}

		p.name{
			}

		.zotoDescription{
			padding-right: 0px;
			p.zotoText{
			}
		}

		hr.PaymentProcess{
		}

		ul.zotoHomepagePoint{

			li{
			}
		}
	}
}
}